.trivia-end {
  margin: auto;
}
.play_again {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
}
.play_again:hover {
  background-color: rgb(3, 3, 223);
  color: #f2f2f2;
}
