.start {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 250px;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  text-align: center;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
.input:focus {
  outline: none;
}
.start_btn {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.start_btn:hover {
  background-color: rgb(3, 3, 223);
  color: #f2f2f2;
}
