* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
  background: #020230;
  color: #fff2ff;
}
.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/kbc-bg.jpg") center;
  display: flex;
  flex-direction: column;
}
.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}
.moneyListItem {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}
.moneyListItem.active {
  background-color: #059191;
  padding: 5px;
  border-radius: 5px;
}
.moneyListNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}
.moneyListAmount {
  font-size: 20px;
  font-weight: 300;
}
.top {
  height: 50%;
  position: relative;
}
.timer {
  width: 70px;
  height: 70px;
  border: 5px solid #fff2ff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  left: 80px;
}
.bottom {
  height: 50%;
}
.author {
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  border-top-left-radius: 5px;
  padding: 6px;
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  background: #fff2ff;
  color: rgb(18, 89, 241);
  text-decoration: none;
  margin-top: 3px;
}
.author img {
  max-width: 100%;
  border-radius: 100%;
  width: 22px;
  vertical-align: middle;
  object-fit: contain;
}
.author p {
  margin: 0;
  vertical-align: middle;
  display: inline;
  margin-left: 7px;
  font-weight: 500;
  font-size: 14px;
}
